<nav>
        <ul>
            <li {% if page.pagename == "index" %} class="active" {% endif %}><a href="/">Toknot</a></li>
            <li><a href="/#features">特性</a></li>
            <li {% if page.pagename == "tutorials" %} class="active" {% endif %}><a href="https://github.com/chopins/toknot/tree/master/vendor/toknot/doc">文档</a></li>
            <li><a href="/blog/my-product.html">服务及产品</a></li>
            <li><a href="/#requirements">Requirements</a></li>
            <li><a href="http://toknot.com/LICENSE.txt">License</a></li>
            <li><a href="http://toknot.com/toknot">Class Reference</a></li>
            <li {% if page.pagename != "index" %} class="active" {% endif %}><a href="/blog.html">Blog</a></li>
        </ul>
    </nav>
