---

---
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="API documentation generator for PHP 5.3+" />
    <meta name="keywords" content="framework, php, web, development" />
    <link href="http://toknot.com/style.css" type="text/css" rel="stylesheet" />
    <title>全部文章 - Szopen Blog - Toknot Framework</title>
</head>
<body>
    <header>
        <h1>Szopen's Blog</h1>
    </header>
    {% include themes/nav.html %}
    <section id="content-list">
        <h2>全部文章</h2>
        <div>
            <p><ul>
                   {% for post in site.posts %}
                   <li><a href="{{post.url}}">{{ post.title }}</a>  <small>{{ post.date | date:  "%Y-%m-%d"  }}</small></li>
                   {% endfor %}
	    </ul></p>
        </div>
    </section>
    <footer>
        <p>
            Copyright © 2010–2013 Szopen Xiao All rights reserved.
        </p>
    </footer>
</body>
</html>
