---

---
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="API documentation generator for PHP 5.3+" />
        <meta name="keywords" content="framework, php, web, development" />
        <link href="http://toknot.com/style.css" type="text/css" rel="stylesheet" />
        <title>全部文章 - Szopen Blog - Toknot Framework</title>
    </head>
    <body>
        <header>
            <h1>Szopen's Blog</h1>
            <ul>
            {% for category in site.categories %}
            {% if category[0] != "category" %}
            <li><a href="/category/{{ category | first }}" title="view all
                   posts">{{ category | first }}</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </header>
        {% include themes/nav.html %}
        <section id="content-list">
            <h2>全部文章</h2>
            <div>
{% assign start = 0 %}
                <p>{% for post in site.posts %} {% if post.group != page.group %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}{% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}{% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}{% if start == 0 %}{% assign start= 1 %}
                    <h3>{{this_year}}年{{this_month}}月</h3><ul>
                        {% endif %}
                        <li><a href="{{post.url}}">{{ post.title }}</a>  <small>{{ post.date | date:  "%Y-%m-%d"  }}</small></li>
                        {% if forloop.last == true %}
                    </ul>
                    {% else %}
                    {% if this_year != next_year %}
                    </ul>
                    <h3>{{next_year}}年{{next_month}}月</h3>
                    <ul>
                        {% else %}
                        {% if this_month != next_month %}
                    </ul>
                    <h3>{{next_year}}年{{next_month}}月</h3>
                    <ul>{% endif %}{% endif %}{% endif %} {% endif %}{% endfor %}
                    </ul></p>
            </div>
        </section>
        <footer>
            <div style="float:right;"><a href="http://page.toknot.com/getIp.php">IP查询</a> | <a href="http://page.toknot.com/ssl.php">域名SSL证书信息查询</a>
             
        </div>
            <p>
                Copyright © 2010–2014 Szopen Xiao All rights reserved.
            </p>
        </footer>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50243249-1', 'toknot.com');
  ga('send', 'pageview');

</script>
    </body>
</html>
