<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="API documentation generator for PHP 5.3+" />
        <meta name="keywords" content="framework, php, web, development" />
        <link href="http://toknot.com/style.css" type="text/css" rel="stylesheet" />
        <title>{{page.title}} - Szopen Blog - Toknot Framework</title>
    </head>
    <body>
        <header>
            <h1>Szopen's Blog</h1>
            <ul>
                <li><a href="/category">全部</a></li>
            {% for category in site.categories %}
            {% if category[0] != "category" %}
            <li><a href="/category/{{ category | first }}" title="view all
                   posts">{{ category | first }}</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </header>
        {% include themes/nav.html %}
        <section id="content-list">
            <h2>{{page.title}}</h2>
            <div>
                <p>
                        {% for category in site.categories %}
                        {% if category[0] != "category" %}
                        {% if page.pagename == "all_category" %}
                         <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
                         <ul>
                        {% for post in category[1] %}
                        <li><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}</a>
                            <small>{{ post.date | date:  "%Y-%m-%d"  }}</small>
                        </li>
                        {% endfor %}</ul>
                        {% else %}
                        <ul>
                            {% for post in category[1] %}
                                {% if page.pagename == category[0] %}
                                <li><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}</a>
                                    <small>{{ post.date | date:  "%Y-%m-%d"  }}</small>
                                </li>
                                {% endif %}
                            {% endfor %}</ul>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </p>
            </div>
        </section>
        <footer>
            <p>
                Copyright © 2010–2013 Szopen Xiao All rights reserved.
            </p>
        </footer>
    </body>
</html>
